a { cursor: pointer; }

.topnav {
  z-index: 9001;
  font-family: "Noticia Text", serif;
  background-color: #b0bec5;
  opacity: 0.9;
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  display: inline-block;
  color: #37474f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  border-bottom: 2px solid #01579b;
}

.active {
  color: white;
  border-bottom: 2px solid #0091ea;
}

.topnav .icon {
  display: none;
}

.bars-container {
  display: inline-block;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(45deg) translate(1px, 6px);
  transform: rotate(45deg) translate(1px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(-45deg) translate(2px, -8px);
  transform: rotate(-45deg) translate(2px, -8px);
}

.parallax {
  background-image: url("https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-0.3.5&s=d89da5b98e50f66dd07e935336655199&auto=format&fit=crop&w=2017&q=80");
  height: 100%;
  width: auto;
  display: block;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.top-text-title {
  text-align: left !important;
  font-size: 100px !important;
}

.title {
  font-family: "Noticia Text", serif;
  padding-top: 200px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 80px;
}

.subtitle {
  font-family: "Noticia Text", serif;
  font-size: 60px;
  text-align: left;
  display: block;
  float: left;
}

.sub-subtitle {
  font-family: "Noticia Text", serif;
  font-size: 12px;
  clear: both;
  display: block;
  margin-bottom: 100px;
}

.project-title {
  font-family: "Noticia Text", serif;
  font-size: 30px;
  margin-top: 150px;
  padding: 20px;
  text-align: center;
  display: block;
}

.project-description {
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  display: block;
}

.project-image {
  display: block;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}

.about-text {
  font-family: "Patrick Hand", cursive;
  font-size: 30px;
  text-align: center;
  margin-bottom: 250px;
  display: block;
}

a img {
  display: inline-block;
  max-height:500px;
  max-width: 900px;
  width: 100%;
  height: 100%;
}

a img:hover {
  opacity: 0.8;
}

.pic-and-text {
  clear: both;
  display: block;
  background-color:#c9d9e0;
  padding-bottom: 50px;
}

.projects-section-spacing{
  margin-bottom: 100px;
}

.dev-icons{
  padding: 10px;
  font-size:50px;
}

.pomodoro-link {
  color: #212529;
}

.pomodoro-link:hover {
  color: black;
}

.contact-text {
  font-family: "Patrick Hand", cursive;
  font-size: 25px;
  text-align: center;
  margin-top: -80px;
}

.contact-spacing {
  padding: 200px;
}

a i {
  margin-left: 10px;
  margin-right: 10px;
}

.fa {
  font-size: 80px;
  padding: 10px;
  color: #212529;
}

.fa:hover {
  color: black;
}

.parallax-contacts {
  background-image: url("https://images.unsplash.com/photo-1497005367839-6e852de72767?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2e700514c9f8e995a8c516db8c60978e&auto=format&fit=crop&w=1047&q=80");
  height: 100%;
  width: auto;
  display: block;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-style {
  display: block;
  background-color: #b0bec5;
  padding: 20px;
}

/* for mobile */

@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

}
@media screen and (max-width: 700px) {
  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 700px) {
  .parallax {
    background-attachment: scroll;
  }
  body{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

@media screen and (max-width: 700px) {
  .title {
    padding: 100px;
    font-size: 50px;
  }
  .top-text-title {
    float: none;
    text-align: center !important;
    font-size: 100px !important;
  }
  .subtitle {
    float: none;
    text-align: center;
    font-size: 50px;
  }
.sub-subtitle {
  text-align: center;
}
  .about-text {
    font-size: 25px;
  }
  .dev-icons{
    padding: 5px;
    font-size: 35px;
  }
  .fa {
    font-size: 45px;
    padding: 2px;
  }
  .contact-spacing {
    padding: 100px;
  }
  .contact-text {
    font-size: 20px;
  }
}